body { 
  background: url(../media/dude-standing.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header{
	text-align:center;
} 
header a{
	color:white;
	font-size:100px;
	font-weight: bold;
}
header a:hover{
	color: lightblue;
}

#search-bar{
	display: block;
	margin: 0 auto;
	width: 75%;
	height: 75px;
	border-radius:40px;
	background: #eee;
	outline: none;
	border: none;
}